@if (question().category === 'custom') {
    <div
        class="interview-answer__block interview-answer__block--interview"
        [class.interview-answer__reveal]="animated()"
        [class.interview-answer__reveal--1]="animated()"
    >
        <p class="interview-answer__text interview-answer__text--hero">{{ question().answer }}</p>
    </div>
} @else {
    <div
        class="interview-answer__block interview-answer__block--weak"
        [class.interview-answer__reveal]="animated()"
        [class.interview-answer__reveal--1]="animated()"
    >
        <p class="interview-answer__label">{{ 'answerBlocks.weak' | translate }}</p>
        <p class="interview-answer__text interview-answer__text--muted">{{ question().weakAnswer }}</p>
    </div>

    <div
        class="interview-answer__block interview-answer__block--technical"
        [class.interview-answer__reveal]="animated()"
        [class.interview-answer__reveal--2]="animated()"
    >
        <p class="interview-answer__label">{{ 'answerBlocks.technical' | translate }}</p>
        <p class="interview-answer__text">{{ question().technicalAnswer }}</p>
    </div>

    <div
        class="interview-answer__block interview-answer__block--interview"
        [class.interview-answer__reveal]="animated()"
        [class.interview-answer__reveal--3]="animated()"
    >
        <p class="interview-answer__label">{{ 'answerBlocks.interview' | translate }}</p>
        <p class="interview-answer__text interview-answer__text--hero">{{ question().interviewAnswer }}</p>
    </div>
}

@if (question().codeExample.trim().length > 0) {
    <div
        class="interview-answer__code-wrap"
        [class.interview-answer__reveal]="animated()"
        [class.interview-answer__reveal--4]="animated()"
    >
        <p class="interview-answer__label interview-answer__label--code">
            {{ 'answerBlocks.codeExample' | translate }}
        </p>
        <pre
            class="interview-answer__code"
            role="region"
            [attr.aria-label]="'answerBlocks.codeExample' | translate"
        ><code>{{ question().codeExample }}</code></pre>
    </div>
}

@if (question().readMoreLinks.length > 0) {
    <div
        class="interview-answer__read-more"
        [class.interview-answer__reveal]="animated()"
        [class.interview-answer__reveal--5]="animated()"
    >
        <p class="interview-answer__label interview-answer__label--read-more">
            {{ 'answerBlocks.readMore' | translate }}
        </p>
        <ul class="interview-answer__read-more-list">
            @for (link of question().readMoreLinks; track $index) {
                <li class="interview-answer__read-more-item">
                    <a
                        class="interview-answer__read-more-link"
                        [href]="link.url"
                        target="_blank"
                        rel="noopener noreferrer"
                    >{{ link.title }}</a>
                </li>
            }
        </ul>
    </div>
}
